.lesson-sidebar {
    width: 41.6rem;
    margin-top: 66px;
}

.course-content {
    width: 41.6rem;
    margin-top: 66px;
    max-height: 100vh;
    overflow-y: scroll;
    position: sticky;
    top: 0;
    right: 0;
    background-color: var(--lighish-white);
}
