.toast {
    position: fixed;
    top: 80px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 0px;
    font-size: 14px;
    z-index: 100;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    animation: slide-in 0.5s, fade-out 0.5s 4.5s;
    overflow: hidden; /* Đảm bảo progress bar không vượt khỏi toast */
}

.toast-success {
    background-color: #28a745;
}

.toast-warning {
    background-color: #ffc107;
}

.toast-info {
    background-color: #10b7d1;
}

.toast-error {
    background-color: #dc3545;
}

.message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.close-button:hover {
    opacity: 0.7;
}

.progress-bar {
    height: 4px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.1s linear;
}
