@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.container-learning {
    font-family: 'Montserrat', sans-serif;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #4065de);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
